<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>

    <php>
        <server name="KERNEL_CLASS" value="Survos\CommandBundle\Tests\TestKernel"/>
        <env name="APP_SECRET" value="fe196adcbe969798aee3c2d65f057ee9"/>
        <ini name="error_reporting" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=0"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage />
    <testsuites>
        <testsuite name="test">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
